/* Main (index) */
.mainContainer {
  width: 100%;
  height: 90vh;
  background: linear-gradient(0deg, #121212 70%, #1f1f1f 100%);
  border-radius: 8px;
  overflow: auto;
}

.scroll::-webkit-scrollbar {
  /* TODO: */
  width: 2px;
  height: 10px;
}

.scroll::-webkit-scrollbar-thumb {
  background: #828282;
}

.scroll::-webkit-scrollbar-thumb:hover {
  background: #a1a1a1;
}

.scroll::-webkit-scrollbar-track {
  background: #121212;
}

/* Header */
.wrapperButtonsBackAndNext {
  display: flex;
  gap: 8px;
}

.buttonsBackAndNext {
  background-color: #121212;
  border-radius: 50%;
}

.wrapperButtonsIcons {
  display: flex;
  gap: 10px;
}

.buttonNotification {
  padding: 6px;
}

.buttonProfile {
  padding: 4px;
}

.imageButtonProfile {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  object-fit: cover;
}

.buttonNotification,
.buttonProfile {
  background-color: #0f0f0f;
  border-radius: 50%;
}

.buttonsHover:hover {
  transform: scale(1.05);
}

.buttonsHover:hover svg {
  transform: scale(1.1);
  fill: #fff;
}

.mainTitle {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 12px;
}

.wrapperHeaderNavBar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}

.wrapperImage {
  display: flex;
  height: 100%;
  align-items: center;
  gap: 14px;
}

.imagePlayListHeaderNavBar {
  width: 64px;
  height: 100%;
  object-fit: cover;
  border-radius: 4px 0 0 4px;
  box-shadow: 3px 0 6px rgba(0, 0, 0, .3);
}

.titlePlayList {
  color: #fff;
  font-size: 15px;
  font-weight: 600;
}

.imagePlayCircle {
  display: block;
  width: 48px;
  height: 48px;
  object-fit: cover;
  box-shadow: 0 4px 10px rgba(0, 0, 0, .7);
  border-radius: 50%;
  margin-right: 15px;
}

.imagePlayCircle:hover {
  transform: scale(1.05);
}

/* Body */
.wrapperSubTitleAndSubTitleAncle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subTitle {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
}

.subTitleAncle {
  color: #a1a1a1;
  font-weight: 800;
  font-size: 13px;
}

.subTitle:hover,
.subTitleAncle:hover {
  text-decoration: underline;
}

.wrapperCardsPlayList {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.wrapperCardsPlayListComponents {
  margin-top: 34px;
  overflow: hidden;
}